<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Users Manager</h3>
            <div class="card-tools">
              <a class="btn bg-gradient-primary btn-sm" href="/admin/faq-manager/create">Add New</a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th style="width: 500px;">Created Date</th>
                  <th style="width: 40px">Status</th>
                  <th style="width: 160px">Action</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(function(user,i){  %>
                  <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= user.firstName %> </td>
                    <td><%= user.lastName %> </td>
                    <td><%= user.email %> </td>
                    <td><%= user.createdAt %> </td>
                    <td>
                      <% if (user.status == 0) { %>
                        <span class="badge bg-gradient-danger btn-sm">InActive</span>
                        <% }else{ %>
                          <span class="badge bg-gradient-success btn-sm">Active</span>                        
                        <% } %>                      
                    </td>                    
                    <td>
                      <form method="POST" action="/admin/faq-manager/<%= user.id %>/delete">
                        <a class="btn bg-gradient-primary btn-sm" href="/admin/faq-manager/<%= user.id %>/edit">Edit</a>
                        <button type="submit" class="btn bg-gradient-danger btn-sm show_confirm" data-toggle="tooltip" title='Delete'>Delete</button>
                    </form>
                    </td>                    
                  </tr>
                <%  }) %>                
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <!-- <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div> -->
        </div>
        <!-- /.card -->
        
      </div>
      
    </div>
  </div><!-- /.container-fluid -->